<mat-toolbar color="primary">
    <span>My Location</span>
    <div class="button-bar">
        <button mat-icon-button
                style="overflow: hidden;"
                color="accent"
                (click)="changeForm()">
            <mat-icon aria-label="" *ngIf="!showForm">add circle</mat-icon>
            <mat-icon aria-label="" *ngIf="showForm">close</mat-icon>
        </button>
    </div>
</mat-toolbar>
<div class="wrapperContent">
    <app-location-edit *ngIf="showForm"></app-location-edit>
    <!--<div class="selectWrapper">-->
        <!--<mat-form-field class="full-width">-->
            <!--<mat-select placeholder="Select category"-->
                        <!--[(ngModel)]="currentLocationId"-->
            <!--(change)='changeCategory(currentLocationId)'>-->
                <!--<mat-option *ngFor="let category of categories" [value]="category.id">-->
                    <!--{{ category.title }}-->
                <!--</mat-option>-->
            <!--</mat-select >-->
        <!--</mat-form-field>-->
    <!--</div>-->
    <mat-list role="list">
        <mat-list-item role="listitem"
                       *ngFor="let location of locations | sortBy : 'title'">
            <div class="start">
                <div class="content-wrap">
                    <div>Name: <strong>{{ location.title | uppercase }}</strong></div>
                    <div>Address: <strong>{{ location.address }}</strong></div>
                    <div>Coordinates: <strong>{{ location.coordinates }}</strong></div>
                </div>
            </div>
            <div class="end">
                <button mat-icon-button
                        color="primary"
                        (click)="edit(location)">
                    <mat-icon aria-label="">edit</mat-icon>
                </button>
                <button mat-icon-button
                        color="primary">
                    <mat-icon aria-label=""
                              (click)="delete(location)">delete
                    </mat-icon>
                </button>
                <button mat-icon-button
                        color="primary">
                    <mat-icon aria-label=""
                        (click)="setCoordinates(location)">map
                    </mat-icon>
                </button>
            </div>
        </mat-list-item>
    </mat-list>
    <div class="popupWrap">
        <div >
            <ng2-map #map center='lat, lng'></ng2-map>
        </div>
    </div>
</div>