<div class="popup">
  <form #form="ngForm" (ngSubmit)="onSubmitAdd(); form.reset()">
    <mat-form-field class="full-width">
      <mat-select class="full-width" placeholder="Select category" [(ngModel)]="currentLocation.category_id" name="category_id">
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{ category.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput
             [(ngModel)]="currentLocation.title"
             name="title"
             type="text"
             placeholder="Location name"
             required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput
             [(ngModel)]="currentLocation.address"
             name="address"
             type="text"
             placeholder="Location address"
             required>
    </mat-form-field>
    <!--<mat-form-field class="full-width">-->
      <!--<input matInput-->
             <!--[(ngModel)]="currentLocation.coordinates"-->
             <!--name="coordinates"-->
             <!--type="text"-->
             <!--placeholder="Location coordinates"-->
             <!--required>-->
    <!--</mat-form-field>-->
    <ng2-map [options]="mapOptions"
             (mapClick)="onMapClick($event)"></ng2-map>
    <button mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!form.valid"
            *ngIf="currentLocation.id">Create
    </button>
    <button mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!form.valid"
            *ngIf="!currentLocation.id">Save
    </button>
  </form>
</div>