@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
  height: 100%;
  margin: 0;
}

#main {
  height: 100%;
}

.mat-tab-body-wrapper {
  height: 100%;
}

.mat-tab-label {
  width: 50%;
}

.mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //background: #132a6b;
  .button-bar {
    overflow: hidden;
  }
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}


.wrapperContent {
  padding: 15px;
  .mat-list {
    font-size: 14px;
    .mat-list-item {
      height: auto;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 12px;
      border: 1px solid #cccccc;
      border-radius: 5px;
      box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
      0 2px 2px 0 rgba(0,0,0,.14),
      0 1px 5px 0 rgba(0,0,0,.12);
      &.selected {
        background: rgba(0, 0, 0, 0.2);
      }
      .start, .end {
        display: flex;
        align-items: center;
        i {
          margin-right: 10px;
        }
      }
      .end {
        flex-direction: column;
      }
    }
    .mat-icon-button {
      width: 32px;
      height: 32px;
      .material-icons {
        font-size: 18px;
      }
    }
  }
}
.full-width {
  width: 100%;
}
.popup {
  //width: 100%;
  //position: fixed;
  //left: 50%;
  //top: 50%;
  //transform: translate3d(-50%, -50%, 0);
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
  0 2px 2px 0 rgba(0,0,0,.14),
  0 1px 5px 0 rgba(0,0,0,.12);
  padding: 15px;
}
.mat-list-item-content {
  display: flex;
  justify-content: space-between;
}

.popupWrap {
  width: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
  0 2px 2px 0 rgba(0,0,0,.14),
  0 1px 5px 0 rgba(0,0,0,.12);
  padding: 15px;
}